.THIS {
}

/* !mwd - This fixes the missing vertical bars */
.THIS .slds-media__figure {
	z-index: 2;
}
.THIS .slds-timeline__media:before {
    z-index: 1;
}
.THIS .slds-timeline__media:before {
    z-index: 1;
}
